# Environnements virtuels
.venv/
venv/
env/
api/.venv/
ui/.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Modèles lourds
api/models/
models/

# Logs
*.log

# Secrets
.env
.streamlit/secrets.toml

# Fichiers système
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
